<h1><%=@coop.name%></h1>
<p><%=link_to 'Create Chicken', "/coops/#{@coop.id}/chickens/new"%></p>
<p><%=link_to 'Sort Alphabetically', alphabetical: true %></p><br>
<%=form_with url:"/coops/#{@coop.id}/chickens", method: :get, local: true do |f| %>
<%=f.label :number_threshold, 'Clutch count threshold:'%>
<%=f.number_field :number_threshold %>
<%=f.submit 'Only return records with more than this number of clutch count'%>
<%end%>
<% @chickens.each do |chicken| %>
<div id="chicken_<%=chicken.id%>">
 <p><h3><%=chicken.name%></h3> <%= link_to 'Go to', "/chickens/#{chicken.id}"%></p>
  <p>Is broody: <%=chicken.is_broody%></p>
  <p>Clutch count: <%=chicken.clutch_count%></p>
  <p>Created at: <%=chicken.created_at%></p>
  <p>Updated at: <%=chicken.updated_at%></p>
</div>
<%end%>