<h1>Chicken Index</h1>

<% @chickens.each do |chicken| %>
<div id="chicken_<%=chicken.id%>">
  <p><b><%=chicken.name%></b> <%= link_to 'Go to', "/chickens/#{chicken.id}"%> | <%=link_to 'Edit', "/chickens/#{chicken.id}/edit"%> | <%= link_to 'Delete', "/chickens/#{chicken.id}", method: :delete %></p>
  <p>Is broody: <%=chicken.is_broody%></p>
  <p>Clutch count: <%=chicken.clutch_count%></p>
  <p>Created at: <%=chicken.created_at%></p>
  <p>Updated at: <%=chicken.updated_at%></p>
</div>
<% end %>