<h1>Create a New Coop</h1>
<%= form_with url:'/coops', method: :post, local: true do |f| %>
  <%=f.label :name, 'Coop name:'%>
  <%=f.text_field :name %>
  <p>Coop is portable?:</p>
  <p><%=f.label :is_portable, 'Yes' %>
  <%=f.radio_button :is_portable, 'true'%>
  <%=f.label :is_portable, 'No' %>
  <%=f.radio_button :is_portable, 'false'%></p>
  <p><%=f.label :nest_box_num, 'Number of nest boxes:'%>
  <%=f.number_field :nest_box_num %></p>
  <p><%=f.submit 'Create Coop'%></p>
<%end%>