<h1><%= @coop.name %></h1>
<p><%= link_to 'Update Coop', "/coops/#{@coop.id}/edit"%></p>
<p>Is portable: <%= @coop.is_portable %> </p>
<p>Nest box number: <%= @coop.nest_box_num %> </p>
<p>Created at: <%= @coop.created_at %> </p>
<p>Updated at: <%= @coop.updated_at %> </p>
<p>Current number of chickens: <%= @chicken_count %></p>
<p><%= link_to 'Chickens in this Coop', "/coops/#{@coop.id}/chickens" %></p>