<h1><%= @coop.name %></h1>
<p>Is portable: <%= @coop.is_portable %> </p>
<p>Nest box number: <%= @coop.nest_box_num %> </p>
<p>Created at: <%= @coop.created_at %> </p>
<p>Updated at: <%= @coop.updated_at %> </p>
<p>Current number of chickens: <%= @coop.chickens.count %></p>