<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <p><%=link_to "Coop Index", '/coops'%> | <%=link_to "Chicken Index", '/chickens'%></p>
    <%= yield %>
  </body>
</html>
